@model Online_Shopping_Service.Models.Store.Item
@{
    ViewBag.Title = "NewItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>New Item</h1>

@using (Html.BeginForm("CreateItem", "Store/Admins"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Price)
        @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Category)
        @Html.TextBoxFor(m => m.Category, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.RemainingCount)
        @Html.TextBoxFor(m => m.RemainingCount, new { @class = "form-control" })
    </div>

}