<style>
    .navbar {
        list-style: none;
        float: left;
    }

        .navbar li {
            border-right: 2px solid #c4c4c4;
            display: inline-block;
            float: left;
        }

            .navbar li:nth-child(5), li:nth-child(6), li:last-child {
                /*border-right: 2px solid #c4c4c4;*/
            }

    .dropdown-menu li {
        border-right: 0px;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    @Html.ActionLink("Online Shopping Store", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                @Html.ActionLink("Store", "Index", "Users", null, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Cart", "ShowCart", "Users", null, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Chat(New)", "ChatAdvanced", "Chat", null, new { @class = "nav-link", target = "_blank" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Chat(Best)", "ChatCustom", "Chat", null, new { @class = "nav-link", target = "_blank" })
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Themes</a>
                <div class="dropdown-menu">
                    <button class="change-style-menu-item dropdown-item" rel="flatly">Flatly</button>
                    <div class="dropdown-divider"></div>
                    <button class="change-style-menu-item dropdown-item" rel="darkly">Darkly</button>
                </div>
            </li>
        </ul>
        @Html.Partial("_LoginPartial")
    </div>
</nav>
