@model Online_Shopping_Service.ViewModels.StoreViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Store</title>
</head>
<body>
    <h1>Store Browse</h1>
    <p>
        @Html.ActionLink("Add new Item", "CreateItem", "Admins", null, new { @class = "btn btn-primary" })
    </p>
    <br/>
    <table id="items" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Price</th>
                <th>Count Remaining</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @*@foreach (var item in Model.Items)
            {
                <tr>
                    <td>@Html.ActionLink(item.Name, "EditItem", "Admins", new { id = item.ID }, null)</td>
                    <td>@item.Price</td>
                    <td>@item.RemainingCount</td>
                    <td>
                        <button data-item-id="@item.ID" class="btn-link js-add">Add to cart</button>
                    </td>
                </tr>
            }*@
        </tbody>
    </table>
</body>
</html>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#items").DataTable({
                ajax: {
                    url: "/api/User/GetItems",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Name",
                        render: function (data, type, item) {
                            return "<a href='/Admins/EditItem/" + item.ID + "'>" + item.Name + "</a>";
                        }
                    },
                    {
                        data: "Description"
                    },
                    {
                        data: "Category"
                    },
                    {
                        data: "Price"
                    },
                    {
                        data: "RemainingCount"
                    },
                    {
                        data: "ID",
                        render: function (data) {
                            return "<button class='btn-link js-remove' data-item-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#items").on("click", ".js-remove", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete from Database?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "api/Admin/DeleteItem/" + button.attr("data-item-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                                console.log("Delete Item Success");
                                toastr.success("Deleting Item from Database Successful.");
                            },
                            error: function() {
                                toastr.error("Deleting Item from Database failed.");
                            }
                        });
                    }
                });
            });
        });
    </script>
}