@model Online_Shopping_Service.ViewModels.CartViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cart</title>
</head>
<body>
    @if (Model.CartItems.Count() == 0)
    {
        <h1>You don't have any items in the cart. Go add some.</h1>
    }
    else
    {
        <h1>Your Cart</h1>
        <table id="cartItems" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Price</th>
                    <th>Count</th>
                    <th>Total</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cartItem in Model.CartItems)
                {
                    <tr>
                        <td>@cartItem.Item.Name</td>
                        <td>@cartItem.Item.Price</td>
                        <td>@cartItem.Count</td>
                        <td>@cartItem.Item.Price * @cartItem.Count</td>
                        <td>
                            <button data-cart-item-id="@cartItem.ItemID" class="btn-link js-remove">Remove from cart</button>
                        </td>
                    </tr>
                }
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>@Model.CartTotal</td>
                </tr>
            </tbody>
        </table>
        <button id="proceed" data-cart-id="@Model.Cart.CartID" class="btn-default js-proceed">
            @Html.ActionLink("Proceed to Checkout", "Checkout", "Users")
        </button>
    }

</body>
</html>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#cartItems").on("click", ".js-remove", function () {
                var button = $(this);

                bootbox.confirm("Do you want to remove from cart?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "api/User/RemoveFromCart/" + button.attr("data-cart-item-id"),
                            method: "GET",
                            success: function () {
                                button.parents("tr").remove();
                                console.log("Remove from cart success");
                                toastr.success("Removing from cart successful.");
                                document.location.reload(true);
                            },
                            error: function () {
                                toastr.error("Removing from cart failed.");
                            }
                        });
                    }
                });
            });

            $("#proceed").on("click", ".js-proceed", function () {
                $.ajax({
                    url: "api/User/ProceedToCheckout",
                    method: "GET",
                    success: function () {
                        console.log("Checkout Success.");
                        window.location.href = "/Users/Checkout/";
                    }
                });
            });
        });

    </script>
}