@model Online_Shopping_Service.ViewModels.CheckoutViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Checkout</title>
</head>
<body>
    <h1>Order Checkout</h1>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Property</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Items</th>
                <th>

                    <ul>
                        @foreach (var item in Model.Cart.CartItems)
                        {
                            <li>@item.Item.Name - Count: @item.Count - Price per one: @item.Item.Price</li>
                        }
                    </ul>
                </th>
            </tr>
            <tr>
                <th>Total Price</th>
                <th>@Model.CartTotal</th>
            </tr>
            <tr>
                <th>Email</th>
                <th>@Model.CurrentUser.Email - Confirmed: @Model.CurrentUser.EmailConfirmed</th>
            </tr>
        </tbody>
    </table>

    <h2>Confirm Order ?</h2>
    <button id="checkout" data-cart-id="@Model.Cart.CartID" class="btn-default js-checkout">
        @Html.ActionLink("Confirm", "ConfirmOrder", "Users", new { cartID = Model.Cart.CartID, method = "CASH"}, null)
    </button>

</body>
</html>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#checkout").on("click", ".js-checkout", function () {
                var button = $(this);

                $.ajax({
                    url: "api/User/Checkout?cartId=" + button.attr("data-cart-id") + "&method=CASH",
                    method: "GET",
                    success: function () {
                        console.log("Order Placed Successfully.");
                        toastr.success("Order Placed Successfully.");
                    },
                    error: function () {
                        console.log("Order Placement failed.");
                        toastr.success("Order Placement failed.");
                    }
                });
            });
        });

    </script>
}